.student_btn{
-fx-background-image: url("start_students.png");
-fx-background-size: 80px 80px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: transparent;
}

.dinning_fine_credit_btn{
-fx-background-image: url("money-logo.jpg");
-fx-background-size: 80px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: transparent;
}

.input_btn{
-fx-background-image: url("dinput.png");
-fx-background-size: 60px 60px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-color: transparent;
}

.student_btn:hover{
-fx-background-color: gainsboro;
}

.dinning_fine_credit_btn:hover{
-fx-background-color: gainsboro;
}

.input_btn:hover{
-fx-background-color: gainsboro;
}

.menu-bar
{
     -fx-background-color: transparent;
     -fx-font-family: Baumans;
     -fx-font-size: 14px;
     -fx-text-fill: #00CCFF;
}

.menu-bar .label {
    -fx-font-size: 25 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;

}


.menu:hover {
    -fx-background-color: white;
}

.menu-item
{
     -fx-background-color: green;
     -fx-font-family: Baumans;
     -fx-font-size: 14px;
     -fx-text-fill: #00CCFF;
}
.menu-item .label{
    -fx-font-size: 25 pt;
    -fx-label-line-length: 8;
    -fx-background-color: green;
}